// Styling for the timeline section
.featured-image--about {
  margin: 2rem auto;
}
.about-description {
  display: block;
  position: relative;
  margin-top: 30px;
  margin-bottom: 50px;
  padding-left: 15px;
  padding-right: 30px;
  width: 100%;
  margin: 0 auto;
}
.about-content {
  font-size: 18px;
  font-family: 'Epilogue';
  line-height: 1.5;
  margin: 20px auto;
}
.timeline {
  position: relative;
  padding: 0;
  list-style: none;
  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: "";
    background-color: $gray-200;
  }
}
@media (min-width: 768px) {
  .timeline {
    &:before {
      left: 50%;
    }
  }
}

.cta-about {
  display: block;
  margin-top: 80px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  color: #000;
  font-weight: 600;
  font-size: 22px;
  transform: translateY(100%);
}

.cta-arrow {
  display: inline-block;
  position: relative;
  justify-content: center;
  width: 5vw;
  margin-top: 5px;
 }
@media (max-width: 768px) {
  .cta-arrow {
  position: absolute;
  margin: 0 auto;
  width: 5vw;
}
}
.cta-arrow:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 25px solid #E9D038;
  bottom: -40px;
  left: -120px;
  right: 20px;
  top: 5px;
  transform: rotate(270deg);
}
.cta-arrow:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 25px solid #E9D038;
  bottom: -40px;
  left: -80px;
  right: 0px;
  top: 5px;
  transform: rotate(270deg);
}

.cta-arrow--second {
  display: inline-block;
  position: relative;
  justify-content: center;
  width: 5vw;
  margin-top: 5px;
 }
@media (max-width: 768px) {
  .cta-arrow--second {
  position: absolute;
  margin: 0 auto;
  width: 5vw;
}
}
.cta-arrow--second:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 25px solid #E9D038;
  bottom: -40px;
  left: 160px;
  right: 0px;
  top: 5px;
  transform: rotate(270deg);
}
.cta-arrow--second:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 25px solid #E9D038;
  bottom: -40px;
  left: 200px;
  right: 0px;
  top: 5px;
  transform: rotate(270deg);
}