// bootstrap
@import "~bootstrap/scss/bootstrap";

/* Global styling for this template */
body {
  overflow-x: hidden;
  @include body-font;
}

p {
  line-height: 1.75;
}

.text-primary {
  color: $primary !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  @include heading-font;
}

.cursor-pointer {
  &:hover {
    cursor: pointer;
  }
}

// Highlight color customization
::-moz-selection {
  background: $primary;
  text-shadow: none;
}

::selection {
  background: $primary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

/* Components */
// Button Styles
.box {
  width: 400px;
  background: #FFC72C;
  margin: 2em auto;
  padding: 10px;
  text-align: center;
  font-weight: 900;
  color: #000;
  font-family: 'Epilogue';
  letter-spacing: -.04em;
  position: relative;
}

@media screen and (min-width: 1023px) {
  .box {
    display: inline-flex;
    flex-direction: row;
    flex-basis: auto;
    justify-items: left;
  }
}

@media screen and (max-width: 490px) {
  .box {
    margin: 0 auto;
  }
}

.sb2:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #FED136;
  border-top: 10px solid #FED136;
  border-bottom: 10px solid transparent;
  bottom: -20px;
  left: 20px;
  transform: rotateY(180deg);
}

.button-align-left {
  transform: translateX(-85%);
}

.btn {
  @include heading-font;
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;
  &:active,
  &:focus,
  &:hover {
    background-color: darken($primary, 7.5%) !important;
    border-color: darken($primary, 7.5%) !important;
    color: white;
  }
  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
  }
}

