.location-subheading {
      font-family: sans-serif;
      font-size: 20px;
      font-weight: 600;
      line-height: 0.1;
      margin-bottom: 5px;
  }


  .address-location {
    display: inline;
    font-size: 20px;
    align-content: space-around;
    text-align: justify;
    transform: translateX(50%);
  }
