.section-header {
  h2.section-heading {
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 0.75em;
    margin-top: -50px;
    margin-bottom: 50px;
    letter-spacing: -1px;
  }
  h3.section-subheading {
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    margin-top: 45px;
    margin-bottom: 75px;
    text-transform: none;
    @include Epilogue;
  }
}
